@import url(./utils/target.css);
@import url(./header/header.css);
@import url(./main/main.css);
@import url(./footer/footer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorBackground: #333;
  --mainColor: #f1f1f1;
  --accentColor: #c00;
  --accentColor100: #c77d7d;
  --yellowColor: #f0d24fff;

  --headerHeight: 60px;
  --footerHeight: 60px;

  --SectionTransitionDuration: 0.5s;
}

body {
  background-color: var(--colorBackground);
  width: 100vw;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  &:not(:has(section:target)) {
    & section:first-of-type {
      display: block;
    }
  }
}
