@import url(./logo.css);
@import url(./nav.css);

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--headerHeight);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--colorBackground);
    z-index: 10;
    padding-bottom: 5px;
    box-shadow: 0 0 10px var(--mainColor);
}