section {
  display: none;
  &:target {
    display: block;
    & > * {
        animation: fade var(--SectionTransitionDuration) ease forwards;
    }
  }
}

@keyframes fade {
    0% {
        opacity: 0;
        translate: -100% 0;
    }
    80% {
        opacity: 0.3;
        translate: 0 0;
    }
    100% {
        opacity: 1;
        translate: 0 0;
    }
    
}